.App {
  text-align: center;
  background: linear-gradient(hsla(203, 63%, 10%, 50%), hsl(187, 100%, 61%, 50%));
  background-attachment: fixed;
}

.App-header {
  background-color: hsl(194, 15%, 38%);
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
